@charset "UTF-8";
*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 6px;
  border-left: 1px solid #e6ecf8;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background-color: #83828238;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #7e7d7dd8;
  color: #262626;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

._start_app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  font-size: 12vh;
  cursor: pointer;
}

header {
  margin: 0;
}

header button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background: #262626c0;
  border: none;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.1rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

header #preview_btn {
  border-radius: 1rem;
}

header .active {
  background: #b65757c0;
}

header h1 {
  color: #262626;
}

footer {
  text-align: center;
}

#sequencer span:nth-child(1)::before, #sequencer span:nth-child(17)::before, #sequencer span:nth-child(33)::before, #sequencer span:nth-child(49)::before, #sequencer span:nth-child(65)::before, #sequencer span:nth-child(193)::before, #sequencer span:nth-child(209)::before {
  position: absolute;
  top: 0;
  right: 4rem;
  font-size: 1rem;
  z-index: 10;
  font-weight: bold;
}

#sequencer {
  margin: 1.5rem auto;
}

#sequencer span:nth-child(1)::before {
  content: "HH" !important;
}

#sequencer span:nth-child(17)::before {
  content: "Snare" !important;
}

#sequencer span:nth-child(33)::before {
  content: "Kick" !important;
}

#sequencer span:nth-child(49)::before {
  content: "Bass" !important;
}

#sequencer span:nth-child(65)::before {
  content: "↓" !important;
}

#sequencer span:nth-child(193)::before {
  content: "Piano" !important;
}

#sequencer span:nth-child(209)::before {
  content: "↓" !important;
}

.audio-fx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 2rem;
  height: 12rem;
}

.audio-fx-container {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  min-height: 10rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.audio-fx-title {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 1.5rem;
  position: relative;
  top: 50%;
  font-weight: bold;
  color: #f0f0f085;
}

.hidden {
  display: none;
}

/*********/
/* RANGE */
/*********/
input[type="range"] {
  -webkit-appearance: none;
  -webkit-appearance: slider-vertical;
  position: relative;
  height: 100%;
  width: 0;
  border: 1rem solid #72717407;
  background-color: #3a3a3a2a;
  -webkit-box-shadow: 0 0 0.1rem rgba(255, 255, 255, 0.3), inset 0 0 0.5rem rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 0.1rem rgba(255, 255, 255, 0.3), inset 0 0 0.5rem rgba(255, 255, 255, 0.5);
  padding: 0 0.175rem;
  border-radius: 5px;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input[type="range"]:focus {
  outline: none;
}

/* Special styling for WebKit/Blink */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-box-shadow: -0.5px -2px 2px #00000085;
          box-shadow: -0.5px -2px 2px #00000085;
  border: 0.5rem solid #3a3a3a;
  border-style: outset;
  height: 2rem;
  width: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  background: #464545;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(25%, #464545), color-stop(50%, #858585), color-stop(75%, #464545));
  background: linear-gradient(0deg, #464545 25%, #858585 50%, #464545 75%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#cdcdcd", GradientType=1);
}

/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  box-shadow: -0.5px -2px 2px #00000085;
  border: 0.5rem solid #3a3a3a;
  border-style: outset;
  height: 2rem;
  width: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  background: #464545;
  background: linear-gradient(0deg, #464545 25%, #858585 50%, #464545 75%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#cdcdcd", GradientType=1);
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.slider-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.1rem;
  font-family: "Poppins", sans-serif;
  font-size: 0.85rem;
  font-weight: 600;
  background: #31313152;
  color: #f0f0f050;
  margin-top: 0.5rem;
  padding: 0.3rem;
  border-radius: 0.2rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider-value {
  color: #f0f0f056;
  text-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.507);
  border-radius: 0.3rem;
  margin-bottom: 0.3rem;
  height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 0.8rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
}

.slider-container:hover > .slider-info,
.slider-container:hover > .slider-value {
  color: #f0f0f0e0;
  text-shadow: 0 0 0.1rem #fff;
  opacity: 0.7;
  background: transparent;
}

.slider-container:hover > input[type="range"] {
  -webkit-box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.2), inset 0 0 0.5rem rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.2), inset 0 0 0.5rem rgba(255, 255, 255, 0.5);
}
/*# sourceMappingURL=style.css.map */