*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 6px;
  border-left: 1px solid #e6ecf8;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background-color: #83828238;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    background: #7e7d7dd8;
    color: #262626;
    text-align: center;
    user-select: none;
}

._start_app {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    font-size: 12vh;
    cursor: pointer;
}

header {
    margin: 0;

    button {
        margin: 0.5rem;
        padding: 0.5rem 1rem;
        background: #262626c0;
        border: none;
        color: #fff;
        font-weight: 600;
        letter-spacing: 0.1rem;
        border-radius: 0.2rem;
        cursor: pointer;
    }

    #preview_btn {
        border-radius: 1rem;
    }
    
    .active {
        background: #b65757c0;
    }

    h1 {
        color: #262626;
    }
}

footer {
    text-align: center;
}

%rowName {
    position: absolute;
    top: 0;
    right: 4rem;
    font-size: 1rem;
    z-index: 10;
    font-weight: bold;
}
#sequencer {
    margin: 1.5rem auto;

    span:nth-child(1)::before {
        content: "HH" !important;
        @extend %rowName
    }
    span:nth-child(17)::before {
        content: "Snare" !important;
        @extend %rowName
    }
    span:nth-child(33)::before {
        content: "Kick" !important;
        @extend %rowName
    }
    span:nth-child(49)::before {
        content: "Bass" !important;
        @extend %rowName
    }
    span:nth-child(65)::before {
        content: "↓" !important;
        @extend %rowName
    }
    span:nth-child(193)::before {
        content: "Piano" !important;
        @extend %rowName
    }
    span:nth-child(209)::before {
        content: "↓" !important;
        @extend %rowName
    }
}

.audio-fx {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    height: 12rem;
}

.audio-fx-container {
    width: min-content;
    min-height: 10rem;
    height: 100%;
    display: flex;
}

.audio-fx-title {
    transform: rotate(-90deg);
    height: min-content;
    width: 1.5rem;
    position: relative;
    top: 50%;
    font-weight: bold;
    color: #f0f0f085;
}

.hidden {
    display: none;
}

@import "range";
